@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css');

html {
    background: #eee;
    color: #333;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto Condensed', sans-serif;
}

html * {
    box-sizing: border-box;
}

main {
    max-width: 100vw;
    overflow: hidden;
}

header, nav, main {
    padding: 0 1rem;
}

header > *, nav > *, main > * {
    max-width: 75rem; /* 1200px */
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4 {
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1;
}

h1 {
    font-size: 1.4rem;
}

@keyframes wave {
    from {
        transform: scaleX(-1) rotateZ(10deg);
    }
    to {
        transform: scaleX(-1) rotateZ(-25deg);
    }
}

.greeting {
    margin-left: 0.4em;
    display: inline-block;
}

.greeting__face {
    position: relative;
    top: 0.1em;
    font-size: 2rem;
    display: inline-block;
    animation: 0.6s cubic-bezier(0.76, 0, 0.24, 1) infinite alternate-reverse wave;
}

.greeting__hand {
    display: inline-block;
    transform: scaleX(-1);
    transform-origin: right bottom;
    animation: 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6) infinite alternate wave;
    position: relative;
    top: 0.2em;
    right: 1em;
}

h2 {
    font-size: 2.6rem;

}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.2rem;
}

nav {
    background: #eee;
}

nav li {
    display: inline-block;
    font-size: 0.8rem;
    margin: 1em 1em 1em 0;
}

nav a {
    color: #999;
    padding: 0.125em 0;
    border-bottom: 0.0625em solid transparent;
}

a:focus {
    outline: none;
}

nav a:hover, nav a:focus, nav a:active {
    color: #333;
    border-bottom: 0.0625em solid #333;
}

nav a.in-view {
    color: #333;
}

nav li a {
    text-decoration: none;
    display: inline-block;
    transition: all 0.6s cubic-bezier(0.5, 1, 0.89, 1);
}

main > article {
    padding: 1rem 0;
    min-height: 100vh;
    position: relative;
    transition: all 0.6s cubic-bezier(0.5, 1, 0.89, 1);
}

article > * {
    opacity: 0.6;
    transform-origin: center;
    transform: scale(0.9);
    transition: all 0.6s cubic-bezier(0.5, 1, 0.89, 1);
}

article.in-view > * {
    opacity: 1;
    transform: scale(1);
}

main > article::before {
    position: absolute;
    content: "";
    top: 0;
    left: -100vw;
    width: 200vw;
    height: 100%;
    z-index: -1;
}

main > article:nth-child(odd)::before {
    background-color: #333;
}

main > article:nth-child(odd) {
    color: #eee;
}

main > article:nth-child(even)::before {
    background-color: #eee;
}

main > article:nth-child(even) {
    color: #333;
}

aside {
    min-height: 100vh;
}

aside article {
    color: #333;
    padding: 2rem 0;
}

article figure {
    position: relative;
    margin: 2rem 0;
    background: #fff;
    background-size: 125%;
    box-shadow:
        0 1px 1px rgba(0,0,0,0.11),
        0 2px 2px rgba(0,0,0,0.11),
        0 4px 4px rgba(0,0,0,0.11),
        0 6px 8px rgba(0,0,0,0.11),
        0 8px 16px rgba(0,0,0,0.11);
}

article.in-view figure {
    background-size: 100%;
}

article figure::after {
    background-size: inherit;
    background-image: linear-gradient(
        to left bottom,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0.75) 10%,
        rgba(255, 255, 255, 0.25) 30%,
        transparent 60%,
        transparent 80%,
        rgba(0, 0, 0, 0.15) 100%
    );
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

article figcaption {
    padding: 0.5rem;
    background: #fff;
    color: #333;
}

article img {
    width: 100%;
    display: block;
}

article p {
    font-size: 1rem;
    line-height: 1.4;
    margin: 2rem 0;
}

main > article footer {
    margin: 2rem 0;
}

main > article .background {
    position: absolute;
    height: 100%;
    width: 200vw;
    top: 0;
    background-repeat: no-repeat;
    z-index: -1;
    background-size: cover;
    left: -100vw;
    background-position: center;
    opacity: 0.1;
}

main > article:nth-child(odd) .background {
    box-shadow: 0 0 10vw 10vw #333 inset;
}

main > article:nth-child(even) .background {
    box-shadow: 0 0 10vw 10vw #eee inset;
}

main > article:nth-child(odd) footer ul {
    border-left: 2rem solid #eee;
}

main > article:nth-child(even) footer ul {
    border-left: 2rem solid #333;
}

main > article.in-view:nth-child(odd) footer ul {
    border-left: 4rem solid #eee;
}

main > article.in-view:nth-child(even) footer ul {
    border-left: 4rem solid #333;
}

aside article footer ul {
    border-left: 2rem solid #333 !important;
}

aside article.in-view footer ul {
    border-left: 4rem solid #333 !important;
}

article footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
}

article footer h3, article footer h4 {
    flex: 0 0 100%;
}

article footer ul {
    flex: 0 0 100%;
    padding-left: 1rem;
    transition: all 0.6s cubic-bezier(0.5, 1, 0.89, 1);
}

article footer li {
    display: inline;
    margin-right: 0.5rem;
    font-size: 0.8rem;
    white-space: nowrap;
}

article footer a {
    display: inline-block;
    font-size: 1.5rem;
    margin: 2.6rem 1rem 0 1rem;
    transition: all 0.6s cubic-bezier(0.5, 1, 0.89, 1);
}

article footer a:hover, article footer a:focus {
    transform: scale(1.2);
}

main > article:nth-child(odd) a {
    color: #eee;
}

main > article:nth-child(even) a {
    color: #333;
}

aside > article a {
    color: #333;
}

@media (min-width: 48rem) { /* 768px */
    nav {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    article {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: center;
    }

    main > article {
        padding: 4rem 0;
    }

    aside article {
        padding: 4rem 4rem;
    }

    article > h2, article > h3 {
        flex: 0 0 100%;
    }

    article figure, article p {
        flex: 0 0 50%;
        margin: 1rem 0;
    }

    main > article figcaption {
        padding: 1rem;
    }

    main > article p {
        padding-left: 2rem;
    }

    aside article p {
        padding-left: 1rem;
    }

    article footer {
        flex: 0 0 100%;
        justify-content: flex-start;
    }

    article footer h3, article footer h4 {
        flex: 0 0 100%;
    }

    article footer ul {
        flex: 1 1 auto;
    }

    article footer a {
        margin: 0 1rem 0 1rem;
    }

    main > article.in-view:nth-child(odd) footer ul {
        border-left: 6rem solid #eee;
    }

    main > article.in-view:nth-child(even) footer ul {
        border-left: 6rem solid #333;
    }

    aside article.in-view footer ul {
        border-left: 4rem solid #333 !important;
    }
}

@media (min-width: 75rem) { /* 1200px */
    aside {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
    }

    aside article {
        flex: 0 0 50%;
    }
}
